.Floatting{
    width:10%;
    position: fixed;
    top: 20%;
    right: 8%;
    border-left: 2px solid lightgray;
}
.Floatting div a{
    padding: 0% 15% 5% 4%;
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
}

.Floatting .activeMenu a{
    color: black;
    font-weight: bold;
}