.button {
  margin-top: 2em;
  width: 30%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NotoSansKR", sans-serif;
  font-weight: 200;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  background-color: rgb(223, 221, 221);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button {
  color: black !important;
}

.button:hover {
  background-color: #a9aaaa;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
  color: white !important;
}
