.KakaoLogin {
  cursor: pointer;
  transition: .3s;
  font-weight: bold;
}
.KakaoLogin:hover {
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 768px) {
  .KakaoLogin {
    width:80%;
  }
}
